* {
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-color: #a80000;
    --main-color-alt: #b91c1c;
    --dark-color: #121212;
    --light-btn: #2a2a2a;
    --text-gray: #9ca3af;
    --size-text: 19px;
    --font-head1: 50px;
    --font-head2: 28px;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.continar {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

}

@media (min-width : 768px) {
    .continar {
        width: 750px;
    }
}

@media (min-width : 992px) {
    .continar {
        width: 970px;
    }
}

@media (min-width : 1200px) {
    .continar {
        width: 1170px;
    }
}

body {
    background-color: var(--dark-color);
}
.header {
    border-bottom: 1px solid #676767;
}
.header .continar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: var(--nav-bg);
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    white-space: pre-wrap;
    margin: 10px;
}
.header .continar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
.header .continar ul li a {
    color: white;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 6px;
    transition: 0.3s;
}

.header .continar  ul li a:hover,
.header .continar  ul li a.active {
    background-color: var(--light-btn);
    color: var(--main-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 80px;
    gap: 40px;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: var(--main-color);
}

.hero-text p {
    margin-bottom: 30px;
    color: var(--text-gray);
    font-size: 1.1rem;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 15px rgba(229, 9, 20, 0.4);
    transition: transform 0.2s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.hero img {
    max-width: 420px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}